@media only screen and (min-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
  }

  #fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  .hamburger {
    display: none;
  }

  .logo {
    width: 150px;
    height: 30px;
    font-size: 20px;
  }

  .social a {
    padding: 15px 25px 15px 10px;
  }

  .desktop-nav {
    display: flex;
    float: left;
    align-items: center;
  }

  .desktop-nav ul li {
    display: inline-flex;
    padding: 0 20px;
  }

  .desktop-nav ul li a {
    color: #344563;
  }

  .hero {
    background-image: url(./assets/desktop/Header\ bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100px;
    height: 750px;
  }

  .author {
    margin-left: 200px;
    padding-top: 200px;
    width: 30%;
    justify-content: center;
    letter-spacing: 0.37px;
  }

  .bio {
    margin-left: 200px;
    width: 60%;
    height: auto;
    letter-spacing: 0.37px;
  }

  .connect_button {
    margin-left: 200px;
    font-size: 20px;
  }

  .social ol {
    margin-left: 200px;
  }



  /* about */
  .about {
    display: flex;
    align-items: baseline;
    width: 100%;
  }

  .about-left-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
    height: 392px;
    margin: 50px 0 0 80px;
  }

  .about .about_details {
    font-size: 20px;
  }

  .about-left-section .connect_button,
  .about-left-section .social ol {
    margin: 0;
  }

  .about-right-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
  }

  .about_ul {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .ul_item {
    position: relative;
    width: 100px;
    bottom: -20px;
    flex-wrap: wrap;
    right: 120px;
    margin: 20px 5px 20px 5px;
  }

  #icons {
    display: none;
  }

  .contact-form {
    background: #6070ff;
    background-image: url(./assets/desktop/contact\ form\ bakground\ shapes.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: right;
    background-position-y: 20px;
    border-radius: 90px 0 0 0;
    margin-top: 103px;
  }

  .contact-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    padding-top: 103px;
  }

  .p-contact {
    width: 569px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    padding: 24px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    padding: 20px 5px 5px 5px;
  }

  .form-control {
    width: 100%;
    height: 43px;
    margin-bottom: 30px;
    border-radius: 3px;
    font-size: 17px;
    border: none;
    color: #172b4d;
    padding: 10px 15px;
  }

  .text-area {
    width: 450px;
    height: 160px;
    font-size: 17px;
    color: #172b4d;
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 3px;
    padding: 10px 15px;
  }

  .contact-bar {
    display: none;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .btncontact {
    margin-top: 10px;
    width: 140px;
    height: 48px;
    color: #6070ff;
    align-self: center;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background-color: white;
  }

  .btncontact:hover {
    background-color: #6070ff;
    border: 1px solid white;
    color: white;
    font-size: 17px;
    transition: 100ms;
    cursor: pointer;
  }

  .end-line {
    display: flex;
  }
}
