@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

ol,
a {
  text-decoration: none;
  list-style: none;
}

.container {
  margin: auto;
  width: 375px;
  height: 718px;
  border-bottom-left-radius: 7%;
  padding-top: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

.desktop-nav {
  display: none;
}

.logo {
  width: 110px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  transform: rotate(-5deg);
}

.hero {
  background-image: url(./assets/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  height: 645px;
}

.author {
  padding: 80px 20px 0 12px;
  width: 330px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #172b4d;
}

.bio {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 10px 8px 10px;
  color: #344563;
}

.connect_button {
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 20px;
  padding: 10px 10px 0 10px;
}

.social ol {
  display: flex;
  padding-top: 10px;
}

.social a {
  padding: 15px 25px 0 10px;
  align-items: center;
  color: #505f79;
}

.desktop-card {
  display: none;
}

.work {
  margin: 25px 0;
  display: grid;
  row-gap: 25px;
  padding: 100px 10px 50px 10px;
  background: #e5e5e5;
  justify-items: center;
}

.card {
  background: #fff;
  border-radius: 10px;
  min-height: 3em;
  border: 1px solid #c6c6c6;
  padding: 15px 15px;
  margin-bottom: 70px;
  display: grid;
}

.preview {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}

.preview img {
  max-width: 100%;
}

.details {
  grid-column: 1/-1;
  align-self: center;
  padding: 10px;
}

.title {
  margin: 10px 0;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.info {
  display: flex;
  overflow: hidden;
  color: #7a869a;
}

.info_item {
  margin-right: 15px;
  list-style-position: inside;
}

.info_item:first-child {
  font-weight: bold;
  list-style: none;
  color: #344563;
}

.info_item:last-child {
  margin-right: 0;
}

.details_content {
  margin: 10px 0;
  padding: 10px 0;
  color: #344563;
  font-size: 18px;
}

.catagories {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.catagories .special {
  display: none;
}

.catagories > li {
  padding: 8px;
  list-style: none;
  color: #6070ff;
  border-radius: 8px;
  margin-right: 8px;
  background: #ebebff;
  font-size: 14px;
  line-height: 16px;
}

.default_button {
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  color: #396df2;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #396df2;
}

.default_button:hover {
  color: #fff;
  background: #396df2;
}

.about {
  display: grid;
  row-gap: 15px;
  padding: 0 15px;
}

.about .headline_title {
  color: #172b4d;
}

.about .about_details {
  color: #344563;
  font-size: 18px;
}

.about_ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #c6c6c6;
}

.about_sub_title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.down_arrow_icon {
  width: 14px;
  height: 10px;
  overflow: hidden;
  margin-right: 35px;
}

.arrow_icon {
  width: 10px;
  height: 14px;
  overflow: hidden;
  margin-right: 35px;
}

.ul_item {
  padding: 10px;
  color: #253858;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  background: #f7f7f9;
  margin: 10px;
  border-radius: 8px;
}

.ul_item img {
  width: 40px;
  margin-right: 20px;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(assets/background2.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: 61%;
  background-position-x: right;
  background-position-y: 20px;
  border-radius: 90px 0 0 0;
  margin-top: 103px;
  width: 100%;
}

.contact-title {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
  padding-top: 103px;
}

.p-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding: 24px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 20px 5px 5px 5px;
}

.inp-form {
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: #172b4d;
  padding: 10px 15px;
}

.hidden {
  display: none;
}

.text-area {
  width: 100%;
  height: 160px;
  font-size: 17px;
  color: #172b4d;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 10px 15px;
}

.contact-bar {
  text-align: center;
}

.btncontact {
  width: 140px;
  height: 48px;
  color: #6070ff;
  align-self: flex-start;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
}

.btncontact:hover {
  background-color: #6070ff;
  border: 1px solid white;
  color: white;
  font-size: 17px;
  transition: 100ms;
  cursor: pointer;
}

.end-line {
  margin-top: 70px;
  margin-bottom: 2px;
}

.preview img:hover {
  transform: scale(1.02);
  transition-duration: 1s;
}

.desktop-preview img:hover {
  transform: scale(1.02);
  transition-duration: 1s;
}
